/**
 * Shame file
 * Add quick changes here, to be incorperated properly at a later point
 */

blockquote{
    font-style: italic;
    font-weight: 300;
    cite{
        font-style: normal;
        font-weight: 500;
    }
}

.pagesection{
    &-inner{
        width: auto;
        max-width: 90rem;
        margin: auto;
        padding: 6rem 3rem;
        > :last-child{
            margin-bottom: 0;
        }
    }
    &-title{
        margin: 0 0 1em;
        font-size: 3.4rem;
        text-align: center;
    }
    &-herotext{
        margin: 0 0 1em;
        font-size: 4rem;
        text-align: center;
    }
    &-intro{
        margin-bottom: 1.5em;
        font-size: 2.4rem;
        text-align: center;
        ~ p{
            text-align: center;
        }
    }

    /**
     * Varient: Hero
     */
    &--hero{
        background-color: color('brand');
        *{
            color: white;
        }
    }

}

.view-home{
    .pagesection--hero{
        ~ :nth-child(even){
            background-color: #f2f2f2;
        }
    }
}

.default{
    .site-header{
        ~ .pagesection:nth-child(odd){
            background-color: #f2f2f2;
        }
    }
}

.center{
    text-align: center;
}

.btn{
    display: inline-block;
    padding: .7em 1em;
    border-radius: 1rem;
    font-size: 2.4rem;
    text-decoration: none;
    cursor: pointer;
    &--cta{
        color: white;
        background-color: color('action');
        &:hover{
            color: white;
        }
    }
}

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @at-root{
        .card{
            flex: 0 1 20rem;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            &-image{
                @include propelem('&:before',1 1);
                max-width: 20rem;
                border-radius: 100%;
                background-color: #999;
                background-repeat: no-repeat;
                background-position: center center;
            }
            &--quote{
                flex-basis: 30rem;
            }
        }
    }
}

.price{
    margin-bottom: 3rem;
    font-style: italic;
    vertical-align: center;
    span{
        font-size: 7rem;
        font-style: normal;
        font-weight: 300;
    }
}

.checklist{
    max-width: 30rem;
    margin: 0 auto 1em;
    li{
        margin-bottom: 1em;
        list-style: none;
        &:before{
            content:'✔';
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            margin-right: .5rem;
            border: .2rem solid currentColor;
            border-radius: 100%;
            color: color('action');
            text-align: center;
        }
    }
}

form{
    margin-bottom: 3rem;
    ul{
        margin: 0;
        list-style: none;
    }
    li{
        margin-bottom: 1em;
    }
    label{
        text-transform: capitalize;
    }
    input{
        border-radius: .5rem;
    }
}

/**
 * Layout
 */
.site-header{
    background-color: color('brand');
    &-inner{
        position: relative;
        width: auto;
        max-width: 90rem;
        margin: auto;
        padding: 3rem;
    }
    @at-root{
        .site-logo{
            margin: auto;
            color: white;
            font-size: 4rem;
            font-weight: bold;
            text-transform: lowercase;
            text-align: center;
            a{
                text-decoration: none;
            }
        }
        .site-nav{
            position: absolute;
            top: 3.5rem;
            right: 0;
            li{
                display: inline;
            }
            a{
                display: inline-block;
                padding: .25em .5em;
                color: white;
                text-decoration: none;
                &[data-title="Login"]{
                    border-radius: 1rem;
                    background-color: darken( color(brand),10% );
                }
            }
        }
    }
}
.site-footer{
    padding: 3rem;
    background-color: color(brand);
    text-align: center;
    p{
        margin-bottom: 0;
        color: white;
    }
}

