extend templates/master

block pagecontent
    +section('Pretravel checklist')
        p.pagesection-intro.
            Before we chat things through with you, here's a list
            of things you'll need.
        ul.checklist
            -for(i=0;i<5;i++)
                li Lorem ipsum dolor sit amet
    +section('What\'s next?')
        p.pagesection-intro.
            Intro text
        .cards
            -each val, index in locals.whatsnext
                .card
                    figure.card-image
                    p= val.desc
        .center
            a.btn.btn--cta(href="./contact.html") Next step


