extend templates/master

block header
    include ./partials/header-loggedin

block pagecontent
    +section('Tutum club')
        p.pagesection-intro.
            Tips, tricks, discussion and
            helpful products for our community.
    +section
        h2 Travelling to africa? We have some tips!
        p: strong By Jane
        p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum dui ut odio blandit, id tristique ex dapibus. Sed posuere blandit pharetra.
        p: a(href="") Read more
    +section
        h2 Fitbits - A smart way to monitor your health at home
        p: strong By Jane
        p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum dui ut odio blandit, id tristique ex dapibus. Sed posuere blandit pharetra.
        p: a(href="") Read more
    +section
        h2 Making tablets easy with Breezie
        p: strong By Leslie
        p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum dui ut odio blandit, id tristique ex dapibus. Sed posuere blandit pharetra.
        p: a(href="") Read more
    +section
        h2 Travelling for a longer or short period?
        p: strong By Alex
        p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum dui ut odio blandit, id tristique ex dapibus. Sed posuere blandit pharetra.
        p: a(href="") Read more
    +section
        h2 Travelling with Osteoporosis?
        p: strong By Stephen
        p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum dui ut odio blandit, id tristique ex dapibus. Sed posuere blandit pharetra.
        p: a(href="") Read more




