extend templates/master

block vars
    -var viewclass = 'view-home';

block pagecontent
    +section(class='pagesection--hero')
        p.pagesection-herotext.
            We take the stress out of finding the perfect medical travel insurance
        .center
            a.btn.btn--cta(href="#content") Find out more ▼
    +section('What\'s Tutum?')(id="content")
        p.pagesection-intro
            | We know how stressful and invasive it is to buy medical travel insurance.
            br
            | We take on the leg work so you can enjoy your trip.
            br
            | We never take money from insurance companies: We're
            always on your side!
        .cards
            -each val, index in locals.process
                .card
                    figure.card-image
                    p= val.desc
    +section('Tutum club')
        p.pagesection-intro.
            Be Member of Tutum Club. You get 5% discount for
            every friend you introduce to us
        .cards
            -each val, index in locals.tutumclub
                .card
                    figure.card-image
                    p= val.desc
    +section('What our clients said')
        .cards
            -each val, index in locals.testimonials
                blockquote.card.card--quote
                    p= val.quote
                    cite= val.cite
    +section('Pricing')
        p.pagesection-intro
            | Tutum is free to join!
            br
            | Pay only when you've booked medical insurance for
            | your first trip with us. Once you've used our
            | service your online profile is yours to keep, to use
            | for future trips.
        .center
            p.price
                | Just
                | &nbsp;
                span £5
                | &nbsp;
                | per year from your first trip
        .center
            a.btn.btn--cta(href="./checklist.html") Get started


