block vars
    -var viewclass = 'default';

mixin section(title)
    section.pagesection&attributes(attributes)
        .pagesection-inner
            -if(title)
                h1.pagesection-title= title
            block

doctype html
html(lang="en-gb")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        title= locals.title
        link(rel="stylesheet" href="../stylesheets/styles.css")
        //- Important early load external scripts
        script(src='../libs/modernizr/modernizr.min.js')
    body(class=viewclass)
        include ../partials/header
        block pagecontent
        footer(class="site-footer" role="contentinfo" aria-label="Page footer")
            p We're tutum. It's latin for 'safe'.
        //- JavaScript libraries and UX based code
        script(data-main='../scripts/app', src='../libs/requirejs/require.js')
