header.site-header(role="banner" aria-label="Site header")
    .site-header-inner
        h1.site-logo: a(href='./')= locals.title
        nav.site-nav
            ul
                -each val, index in locals.nav
                    li: a(href=val.url data-title=val.title)
                        -if(val.title === 'Login')
                            != 'Welcome Molly'
                        -else
                            != val.title
